:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}




body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}


/*цвет основного текста #212121/

/*вторичный цвет текста #757575*/

/* акцент #2196F3 */



/* Логотип */
.logo-web {
 color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

.logo :hover,
.logo :focus {
    color: red;
}


/* Site-nav */

.site-nav .link {
    color: #212121;
}

.site-nav .link.current{
    color: #2196F3;
}

.site-nav :hover,
.site-nav :focus {
  color: red;
}

.contacts :hover,
.contacts :focus {
  color: red;
}




.mail {
    color: var(--primary-text-color);
}

.tel {
   color: var(--primary-text-color);
}


/* Эффективные решения для вашего бизнеса */

.solutions {
    background-color: #2F303A;
}


.solutions-title {
    color: #FFFFFF;
}

.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
}


/* Наши преимущества */
.section-title {
   color: var(--title-text-color);
}


/* Чем мы занимаемся */
.our-work {
   color: var(--title-text-color);
}


/* Наша команда */
.team {
  color: var(--title-text-color);
}

.team-specialist {
   color: var(--title-text-color);
}




/* Подвал */
.bottom {
    background-color: #2F303A;
}

/* Нижний логотип */
.bottom-web {
    color: var(--accent-color);
}

.bottom-studio {
    color: #FFFFFF;
}



.bottom-logo :hover,
.bottom-logo :focus {
    color: red;
}


/* Адрес */

.adress :hover,
.adress :focus {
    color: red;
}


.map-adress {
    color: #FFFFFF;
    background-color: #2F303A;
}


.bottom-mail {
    color: rgba(255, 255, 255, 0.6);
}


.bottom-tel {
    color: rgba(255, 255, 255, 0.6);
}
